In [5]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

"""При работе с Pandas важно уметь указывать направление работы метода, который используется. 
Для этого вводится понятие axis (ось, координата). Движение по строкам в таблице обозначается axis с индексом 0, 
а движение по столбцам — axis с индексом 1.
Данный параметр заложен во все методы, которые могут работать в двух направлениях и по умолчанию 
в большинстве из них axis=0, то есть они выполняют операции со строками, если не задавать axis вручную."""

countries_df.loc['UK', 'square'] #Получим площадь Великобритании:
#countries_df.loc['RU', ['population', 'square']] #Получим население и площадь, соответствующие России:
#countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']] #countries_df.iloc[4:8, 1:3]
#countries_df.iloc[4,2]

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

133396

In [12]:
"""Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.
Доходы (incomes), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков. 
Например:
incomes = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
Создайте функцию create_companyDF(incomes, expenses, years), которая  возвращает DataFrame, 
составленный из входных данных со столбцами Incomes и Expenses и индексами, 
соответствующими годам рассматриваемого периода. Пример такого DataFrame представлен ниже.
	Incomes	Expenses
2018	478	156
2019	512	130
2020	196	270
Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, 
записанными в таблице df, за год year. Учтите, что если информация за запрашиваемый год не указана в вашей таблице, 
вам необходимо вернуть None."""

import pandas as pd

def create_companyDF(incomes, expenses, years):
    company_data = pd.DataFrame ({'incomes': incomes, 'expenses': expenses}, index = years)
    return company_data

def get_profit(df, year=None):
 #   difference = df.loc[[year],['incomes'] - df.loc[[year],['expenses']]
#   return difference
incomes = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

display (create_companyDF (incomes, expenses, years))

      incomes  expenses
2018      478       156
2019      512       130
2020      196       270

In [19]:
def get_profit (df,year):
    if year not in df.index:
        return "out of year"
    else:
        differense = df.loc [year,'incomes'] - df.loc [year, 'expenses']
    return differense

get_profit (create_companyDF (incomes, expenses, years),2034)

'out of year'

In [1]:
"""ЗАПИСЬ В CSV-ФАЙЛ
path_or_buf — путь до файла, в который будет записан DataFrame (например, data/my_data.csv);
sep — разделитель данных в выходном файле (по умолчанию ',');
decimal — разделитель чисел на целую и дробную части в выходном файле (по умолчанию '.');
columns — список столбцов, которые нужно записать в файл (по умолчанию записываются все столбцы);
index — параметр, определяющий, требуется ли создавать дополнительный столбец с индексами строк в файле 
(по умолчанию True).
Заранее создадим папку data в директории, где лежит наш ноутбук. 
Теперь давайте сохраним наш DataFrame с информацией о странах в csv-файл countries.csv и положим файл в папку data. 
При этом укажем, что разделителем в нашем файле будет являться символ ';', а также то, 
что нам не нужен дополнительный столбец с индексами строк:"""
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

#countries_df.to_csv('data_test/countries.csv', index=False, sep=';')

"""Для чтения таблицы из csv-файла используется функция модуля Pandas read_csv. 
Функция возвращает DataFrame и имеет несколько важных параметров.
filepath_or_buffer — путь до файла, который мы читаем;
sep — разделитель данных (по умолчанию ',');
decimal — разделитель чисел на целую и дробную часть в выходном файле (по умолчанию '.');
names — список с названиями столбцов для чтения;
skiprows — количество строк в файле, которые нужно пропустить 
(например, файл может содержать служебную информацию, которая нам не нужна)."""

#countries_data = pd.read_csv('data_test/countries.csv', sep=';')
#display(countries_data)

"""На самом деле файл с данными не обязательно должен храниться у вас на компьютере.
Если он находится в открытом доступе по ссылке (например, на Google Диске или GitHub), 
его можно прочитать и из интернета — для этого достаточно в функции read_csv() 
вместо пути до файла указать ссылку на файл. Например:"""
#data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
#display(data)

countries_df.to_excel('data_test/countries.xlsx')
#df = pd.read_xlsx('data_for_test/транспод.xlsx')

In [34]:
melb_data = pd.read_csv('data_test/melb_data.csv', sep=',')

#Какова цена объекта недвижимости под индексом 15?
display (melb_data.iloc[15,5])
#Когда был продан объект под индексом 90?
display (melb_data.loc[90,'Date'])
#Во сколько раз площадь прилегающей территории, на которой находится здание с индексом 3521, 
#больше площади участка, на котором находится здание с индексом 1690? Ответ округлите до целого числа.
display (melb_data.loc[3521,'Landsize']/melb_data.loc[1690,'Landsize'])

1310000.0

'10/09/2016'

2.7857142857142856

In [3]:
import pandas as pd
melb_data = pd.read_csv('data_test/melb_data.csv', sep=',')
"""DataFrame есть методы head() и tail(), которые возвращают n первых и n последних строк таблицы 
соответственно (по умолчанию n = 5). Выведем первые пять строк нашей таблицы:"""
#display(melb_data.head())
#Следующий код выведет семь последних строк нашей таблицы:
#display(melb_data.tail(4))

"""Далее хотелось бы узнать размер таблицы — количество строк и количество столбцов. 
Это можно сделать с помощью атрибута shape, который возвращает кортеж с количеством строк и столбцов:"""
melb_data.shape
# (13580, 23)

#Для того чтобы получить более детальную информацию о столбцах таблицы, можно использовать метод DataFrame info():
melb_data.info()

"""Например, данные в столбцах, которые отражают количество, должны, по идее, 
выражаться целым числом (Car, Bedroom, Bathroom и Propertyсount), однако кодируются float64 — 
числом с плавающей запятой размером 64 бита.
Наконец, данные в столбце с годом постройки (YearBuilt) также представлены в формате чисел с плавающей точкой.
Чтобы исправить это, можно воспользоваться методом astype(), который позволяет преобразовать тип данных столбца:
"""
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

"""Часто при работе с таблицей нужно быстро посмотреть на основные статистические свойства её столбцов. 
Для этого можно воспользоваться методом DataFrame describe().
По умолчанию метод работает с числовыми (int64 и float64) столбцами и показывает число непустых значений (count), 
среднее (mean), стандартное отклонение (std), минимальное значение (min),  квартили уровней 0.25, 0.5 (медиана) и 
0.75 (25%, 50%, 75%) и максимальное значение (max) для каждого столбца исходной таблицы.
Чтобы не увязнуть в обилии информации, выведем на экран значение статистических параметров только для 
столбцов Distance (расстояние от объекта недвижимости до центра Мельбурна), BuildingArea (площадь здания) 
и Price (цена объекта):"""
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

""" На самом деле метод describe() можно применять не только к числовым признакам. 
С помощью параметра include можно указать тип данных, для которого нужно вывести описательную информацию.
Например, для типа данных object метод describe() возвращает DataFrame, в котором указаны:
количество непустых строк (count);
количество уникальных значений (unique);
самое частое значение — мода —  (top);
частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы."""
melb_data.describe(include=['object'])

"""Для того чтобы определить, сколько раз в столбце повторяется каждый из вариантов значений 
(т.е. найти частоту для каждого уникального знания), используется метод value_counts().
Данный метод возвращает объект Series, в котором в качестве индексов выступают уникальные категории столбца, 
а значениями — соответствующая им частота.
Рассмотрим работу value_counts() на примере столбца с названиями районов:"""
melb_data['Regionname'].value_counts()
#Чтобы сделать вывод более интерпретируемым и понятным, можно воспользоваться параметром normalize. 
# При установке значения этого параметра на True результат будет представляться в виде доли (относительной частоты):
melb_data['Regionname'].value_counts(normalize=True)

#Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — t)?
melb_data['Type'].value_counts(normalize=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [7]:
import pandas as pd
melb_data = pd.read_csv('data_test/melb_data.csv', sep=',')

"""АГРЕГИРУЮЩИЕ МЕТОДЫ
Агрегирующим в Pandas называется метод, который для каждого столбца возвращает только одно значение 
— показатель (например, вычисление медианы, максимума, среднего и так далее).
МЕТОД	СТАТИСТИЧЕСКИЙ ПАРАМЕТР
.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.deviance()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений
Если один из этих методов применить ко всему DataFrame, то в результате его работы будет получен 
объект типа Series, в котором в качестве индексов будут выступать наименования столбцов, 
а в качестве значений — статистический показатель. 
В случае применения метода к отдельному столбцу результатом вычислений станет число.
В каждый метод можно передать некоторые параметры, среди которых:
axis  — определяет, подсчитывать параметр по строкам или по столбцам;
numeric_only — определяет, вычислять параметры только по числовым столбцам/строкам или нет (True/False)."""
#Разберём агрегирующие функции на примерах.Вычислим среднюю цену на объекты недвижимости:
print(melb_data['Price'].mean())
# 1075684.079455081
#Найдём максимальное количество парковочных мест:
print(melb_data['Car'].max())
# 10

#А теперь представим, что риэлторская ставка для всех компаний за продажу недвижимости составляет 12%. 
# Найдём общую прибыльность риэлторского бизнеса в Мельбурне. Результат округлим до сотых:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))
# Total income of real estate agencies: 1752934775.88
#Найдём, насколько медианная площадь территории отличается от её среднего значения. 
# Вычислим модуль разницы между медианой и средним и разделим результат на среднее, 
# чтобы получить отклонение в долях:
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)
# 0.21205713983546193
#В результате получаем долю отклонения медианы от среднего значения. 
# Умножив результат на 100, получим его в процентах. Отклонение медианы от среднего значения на 21% 
# является довольно большим, и это повод задуматься над тем, чтобы исследовать признак на наличие аномалий. 

"""МОДАЛЬНОЕ ЗНАЧЕНИЕ
Отдельный интерес представляет статический показатель моды — самого распространённого значения в столбце. 
Он вычисляется с помощью метода mode().
Модальных значений может быть несколько, то есть несколько значений могут встречаться одинаковое количество раз.
Поэтому метод mode(), в отличие от агрегирующих методов, возвращает не одно число, а серию."""
#Вычислим, какое число комнат чаще всего представлено на рынке недвижимости:
print(melb_data['Rooms'].mode())
# 0    3
# dtype: int64
#Примечание. Метод mode() может быть использован не только с числовыми столбцами, но и со столбцами типа object. 
# Так, например, с помощью следующего кода можно найти наиболее распространённое название района:
melb_data['Regionname'].mode()

1075684.079455081
10.0
Total income of real estate agencies: 1752934775.88
0.21205713983546193
0    3
Name: Rooms, dtype: int64

0    Southern Metropolitan
Name: Regionname, dtype: object

In [11]:
import pandas as pd
melb_data = pd.read_csv('data_test/melb_data.csv', sep=',')
#Чему равно максимальное количество домов на продажу в районе (Propertycount)?
print (melb_data['Propertycount'].max()) 

#Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?
print (melb_data['Distance'].std())

#Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?
building_median = melb_data['BuildingArea'].median() 
building_mean =  melb_data['BuildingArea'].mean()
deviance = abs(building_median - building_mean)/building_mean
print(round(deviance * 100, 2))

#Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?
a_df = pd.DataFrame (data = [1, 2, 4, 2, 3, 2, 1, 5, 6])
print(a_df.mode())

#Сколько спален чаще всего встречается в домах в Мельбурне?
print (melb_data['Bedroom'].mode())

21650.0
5.868724943071711
9.76
   0
0  2
0    3.0
Name: Bedroom, dtype: float64

In [40]:
"""Разберём классический способ фильтрации в DataFrame — фильтрацию с помощью масок.
Маской называется Series, которая состоит из булевых значений, при этом значения True соответствуют тем индексам, 
для которых заданное условие выполняется, в противном случае ставится значение False (например, цена > 2 млн)."""

#Создадим маску и положим её в переменную с именем mask. Синтаксис очень прост:
import pandas as pd
melb_data = pd.read_csv('data_test/melb_data.csv',sep = ',')
mask = melb_data['Price'] > 2000000
#display(mask)
#Для фильтрации нужно просто подставить переменную mask в индексацию DataFrame. 
# Маска показывает, какие строки нужно оставлять в результирующем наборе, 
# а какие — убирать (выведем первые пять строк отфильтрованной таблицы):
#display(melb_data[mask].head())
#Примечание. В результате выполнения фильтрации возвращается новый DataFrame, полученный из исходного, 
# при этом исходная таблица melb_data остаётся без изменений. Также вовсе не обязательно заносить маску 
# в отдельную переменную — можно сразу вставлять условие в операцию индексации DataFrame, например:
#display (melb_data['Price']>2000000)

#Найдём количество зданий с тремя комнатами. Для этого отфильтруем таблицу по условию: 
# обратимся к результирующей таблице по столбцу Rooms и найдём число строк в ней с помощью атрибута shape:
melb_data[melb_data['Rooms'] == 3]. shape [0]
#Условия можно комбинировать, используя операторы & (логическое И) и | (логическое ИЛИ). 
# Условия при этом заключаются в скобки.
#Усложним прошлый пример и найдём число трёхкомнатных домов с ценой менее 300 тысяч:
display (melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)],
        melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0])

#Таких зданий оказалось всего три. Немного «ослабим» условие:теперь нас будут интересовать дома с ценой 
#менее 300 тысяч, у которых либо число комнат равно 3 либо площадь домов более 100 квадратных метров:
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

#Фильтрацию часто сочетают со статистическими методами. Давайте найдём максимальное количество комнат в таунхаусах.
#Так как в результате фильтрации получается DataFrame, то обратимся к нему по столбцу Rooms 
# и найдём максимальное значение:
melb_data [melb_data ['Type'] == 't']['Rooms'].max()

#А теперь более сложный трюк: найдём медианную площадь здания у объектов, чья цена выше средней. 
# Для того чтобы оградить наш код от нагромождений, предварительно создадим переменную со средней ценой:
mean_price = melb_data['Price'].mean()
display (mean_price)
display (melb_data[melb_data ['Price'] > mean_price]['BuildingArea'].median())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
10394,10394,Melton,14 Musk Ct,3,h,295000.0,SP,PRDNationwide,27/05/2017,31.7,...,4.0,600.0,122.86,1975.0,Melton,-37.68734,144.58001,Western Victoria,3600.0,"-37.68734, 144.58001"
10576,10576,Bacchus Marsh,4 Lidgett St,3,h,285000.0,S,Ryder,8/07/2017,37.5,...,2.0,612.0,126.00,1970.0,Moorabool,-37.67344,144.43181,Western Victoria,2871.0,"-37.67344, 144.43181"
13227,13227,Melton,118 Barries Rd,3,h,283000.0,S,FN,23/09/2017,31.7,...,0.0,362.0,19.00,1976.0,NaN,-37.68755,144.56887,Western Victoria,3600.0,"-37.68755, 144.56887"

3

1075684.079455081

126.0

In [34]:
import pandas as pd
melb_data = pd.read_csv ('data_test/melb_data.csv', sep = ',')
#У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?
melb_data[melb_data['Bathroom'] == 0].shape

#Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson 
#и стоимость которых составила больше 3 миллионов?
melb_data[(melb_data['Price'] > 3000000) & (melb_data['SellerG'] == 'Nelson')].shape[0]

#Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

#Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, 
# в которых либо количество комнат больше пяти, либо здание моложе 2015 года?
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data['YearBuilt'].mode()
round (melb_data[(melb_data['Price'] < 1e6) & ((melb_data['Rooms'] > 5) |
                                            (melb_data['YearBuilt'] > 2015))]['Price'].mean())
#melb_data[(melb_data['Price']<1e6) & ((melb_data['Rooms']>5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean()

#В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3e6)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object